
<div class="row header">
    <div class="header">
        <div class="header">
            <img src="/images/train.png" alt="logo">
            <h1>Ticketac</h1>
        </div>
        <div class="header">
            <a href="/login"><h3 class="font">Connexion</h3></a>
            <a href="/login"><h3 class="font">My last trip</h3></a>
        </div>
    </div>
</div>