
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(248,249,250);
  background: linear-gradient(180deg, rgb(214, 234, 255) 12%, rgb(135, 181, 203) 50%, rgb(78, 153, 197) 100%);
  min-height: 100%;
}

a {
  color: #00B7FF;
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between; 
}


.color{
  background-color: #00B7FF;
}

.fond{
  background-color: #f2f8fa;
}

.home {
  color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.total{
  background-color: lightcoral;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.r{
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-land{
  height:300px;
}

