
body {
  min-height: 100vh;

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(248,249,250);
  background: linear-gradient(180deg, rgb(199, 218, 237) 12%, rgb(133, 165, 181) 56%, rgb(97, 155, 188) 100%);
}

a {
  color: #00B7FF;
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between; 
}


.color{
  background-color: #00B7FF;
}

.fond{
  background-color: #f2f8fa;
}

.home {
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
